body{
    min-height: 97vh;
    font-size:3vh;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.menuitem{
    padding:1vh;
    border:1vh blue solid;
    margin:1vh
}
.menuitem:hover{
    border:1vh red solid;
}