body{
    min-height: 99vh;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}