body{
    font-size:3vh;
    text-align:center;
}
.row{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:row;
    overflow:
}
.col{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;
}
.container{
    min-height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.block{
    min-height:70vh;
    display:inline-block;
}
.half{
    min-width:48vw;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.third{
    min-width:32vw;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.quarter{
    min-width:23vw;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.image{
    width:20vw;
    height:20vw;
    margin-top:-0.77vh;
}
.image:hover{
    opacity:0.77;
}