body{
    font-size:3vh;
    text-align:center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.container{
    min-height: 70vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.third{
    min-width: 32vw;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}